<html>
  <head>
    <title>logout page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 15px;
  margin: 0px 0;
  border: none;
  cursor:pointer;;
  width: 20%;
  height:30px;
   }
button:hover {
  opacity: 0.8;
}
    </style>
  </head>
  <body style="background-color:rgb(235, 233, 233);" ><br><br><br>
<h2 style="text-align: center;">You have been logged out</h2><br><br><br>
<form action="/loginpage" style="text-align: center;"><button  type="submit">Login</button></form>
</body>
</html>