<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>welcome page</title>
<style>
  .navbar {
  width: 100%;
  background-color: #555;
  /* overflow: auto; */
}
.navbar a {
  float: left;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 40%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}
  </style>
<body >

<div class="navbar">
  <a class="active" href="/loginpage">(Already a member ?)  Login</a> 
  <a href="/signuppage">(New Member ?)  Sign Up</a> 
  
  <div><img src="/static/welcome.png" width="1520" height="635"> </div>
</div>
</body>
</html> 